<div class="shell">
  <aside class="sidebar">
    <div class="logo">
      <img src="/images/logo.png" class="logo-img" />
    </div>

    <nav class="menu">
      <a [class.active]="isActive('mis-plantas')" routerLink="/mis-plantas">Mis plantas</a>
      <a [class.active]="isActive('comunidad')" routerLink="/comunidad">Comunidad</a>
      <a [class.active]="isActive('historial')" routerLink="/historial">Historial</a>
      <a [class.active]="isActive('panel-control')" routerLink="/panel-control">Panel de control</a>
      <a [class.active]="isActive('dashboard')" routerLink="/dashboard">Dashboard</a>
    </nav>
  </aside>

  <main class="content">
    <router-outlet />
  </main>
</div>
